*{
  margin:0;
  font-family: Roboto;
}

/****  heading  ****/
.heading{
  color: white;
  background-color: black;
}
.br-heading{
  padding: 0.7rem;
  background-color: #A6672B;
  text-align: center;
  cursor: pointer;
}
.bl-heading{
  padding: 0.7rem;
  text-align: center;
  cursor: pointer;
}

/*****  navbar  *****/
.navbar{
  display: flex;
  flex: 0;
  justify-content:space-between;
  padding:1rem;
}
.left-nav, .right-nav{ display: flex; }
.left-nav > p, .right-nav > p { 
  padding: 1rem;
  cursor: pointer;
  font-weight:500;
}

/*****  hero  *****/
.hero{
  padding: 2rem;
}
.hero-logo{ height:2.3rem; margin-top: 4rem;}
.oil-hero{ height: 27rem; margin-left: 26rem; margin-right: 3.5rem; margin-top: 14rem; }
.hero-main{
  display: flex;
  justify-items: flex-end;
}
.hero-info{
  width: 23rem;
  margin-top: 5rem;
}

.hero-info > h2, h4, p {padding: 0.6rem 0;}
.hero-info > button {
  cursor: pointer;
  height: 3rem;
  width:23rem;
  color: white;
  background-color: rgba(8, 8, 8, 0.822);
}
.discovery-kit{
  display: flex;
}
.hero-img11{
  height: 5rem;
}


/*****  use  *****/
.use-section{
  margin-top: 5rem;
  display: flex;
}
.use-section > img{
  height:50rem;
  width: 50%;
}
.use-info{
  width: 35%;
  margin:12rem 7rem;
}
.use-info > h4,p { padding: 0.6rem 0; }

/*****  product  *****/
.product-section{
  margin-top: 10rem;
  margin-bottom: 9rem; 
}

.products{
  display: flex;
  flex-direction:column;
  align-items: center;
}

/*****  about  *****/
.about-section{
  color: white;
  background-color: rgba(0, 0, 0, 0.836);
}
.about-section >h3{
  font-size: small;
}
.about-up,.about-down{
  display: flex;
}

.email-sec,.sustainibility-sec {
  padding: 2rem;
  width: 35%;
  
}
.email-in{
  width: 90% ;
  margin-bottom: 1rem;
  height: 2rem;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
}
.order-sec,.service-sec,.location-sec,.ab-sec,.social-sec{
  padding: 2rem;
  width: 15rem;
}
